.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  flex: 1;
  padding: 10px;
  overflow: scroll;
}

.chatMsg {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 5px;
}

.incoming {
  align-self: flex-start;

}

.outcoming {
  align-self: flex-end;

}